{% extends 'html/main/base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <!-- Sidebar -->
        <div class="sidebar">
            <a>test1</a>
            <a>test2</a>
        </div>
    </div>
        <div class="scroll-box">
            {% if code_html %}
                <body>{{ code_html | safe }}</body>
            {% else %}
                <h1 class="centered-text">No code available</h1>
            {% endif %}
        </div>
    <div class="centered-text">
        <form method="post" enctype="multipart/form-data"> 
            {% csrf_token %}
            {{ form.as_p }}
            <input type="file" name="code_file"/>
            <input type="submit" name="submit" value="Upload"/>
        </form>
    </div>
{% endblock %}
